<!DOCTYPE HTML>

<html>
	<head>
		<title>HTMLnalyzer</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      html,body{
        height:100%;
        width:100%;
      }
      #easteregg_button{
        background-color: black;
        height: 100%;
        width: 100%;
        border: black;
      }
    </style>
	</head>
	<body id="easter_egg" style="background-color:black;">
    <h1 id="thisisclearlyaneasteregg" style="color:black;">WHY DID YOU DO THIS???... ANYWAYS HAHAHA THIS IS THE EASTER EGG</h1>
    <button style="vertical-align:middle;" id="easteregg_button"></button>
	</body>
    <script src=/static/eastereggs.js></script>
</html>
