<!DOCTYPE HTML>

<html>
	<head>
		<title>HTMLnalyzer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
	</head>
	<body id="options_body">
    <div id="options_centre">
      <center><div id="notification_instructions_top">Select the TAGS for analysis...</div></center>
		<form action="{{ url_for('options')}}" method="POST" id="html_form_options">
			<input type="hidden" name="url" value={{url}}></input>
      {% for tag in taglist %}
      {% if tag == "a" %}
      <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
         <input type="checkbox" name="options_tag" value="a"/>
         <div class="state p-on">
             <img class="image" src="static/tick.png">
             <label>&lt;a&gt; tag chosen</label>
         </div>
         <div class="state p-off">
            <img class="image" src="static/cross.png">
            <label>&lt;a&gt; tag </label>
        </div>
      </div></center>
      <br>
      {% endif %}
      {% if tag == "p" %}
       <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
          <input type="checkbox" name="options_tag" value="p"/>
          <div class="state p-on">
              <img class="image" src="static/tick.png">
              <label>&lt;p&gt; tag chosen</label>
          </div>
          <div class="state p-off">
             <img class="image" src="static/cross.png">
             <label>&lt;p&gt; tag </label>
         </div>
       </div></center>
       <br>
       {% endif %}
       {% if tag == "li" %}
      <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
         <input type="checkbox" name="options_tag" value="li"/>
         <div class="state p-on">
             <img class="image" src="static/tick.png">
             <label>&lt;li&gt; tag chosen</label>
         </div>
         <div class="state p-off">
            <img class="image" src="static/cross.png">
            <label>&lt;li&gt; tag </label>
        </div>
     </div></center>
     <br>
     {% endif %}
     {% if tag == "h1" %}
       <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
          <input type="checkbox" name="options_tag" value="h1"/>
          <div class="state p-on">
              <img class="image" src="static/tick.png">
              <label>&lt;h1&gt; tag chosen</label>
          </div>
          <div class="state p-off">
             <img class="image" src="static/cross.png">
             <label>&lt;h1&gt; tag </label>
         </div>
      </div></center>
      <br>
      {% endif %}
      {% if tag == "h2" %}
      <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
         <input type="checkbox" name="options_tag" value="h2"/>
         <div class="state p-on">
             <img class="image" src="static/tick.png">
             <label>&lt;h2&gt; tag chosen</label>
         </div>
         <div class="state p-off">
            <img class="image" src="static/cross.png">
            <label>&lt;h2&gt; tag </label>
        </div>
     </div></center>
     <br>
     {% endif %}
      {% if tag == "h3" %}
     <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
        <input type="checkbox" name="options_tag" value="h3"/>
        <div class="state p-on">
            <img class="image" src="static/tick.png">
            <label>&lt;h3&gt; tag chosen</label>
        </div>
        <div class="state p-off">
           <img class="image" src="static/cross.png">
           <label>&lt;h3&gt; tag </label>
       </div>
        </div></center>
        <br>
        {% endif %}
      {% if tag == "img" %}
        <center><div class="pretty p-image p-plain p-curve p-smooth p-toggle">
           <input type="checkbox" name="options_tag" value="img"/>
           <div class="state p-on">
               <img class="image" src="static/tick.png">
               <label>&lt;img&gt; tag chosen</label>
           </div>
           <div class="state p-off">
              <img class="image" src="static/cross.png">
              <label>&lt;img&gt; tag </label>
          </div>
        </div></center>
        <br>
        {%endif%}
        {%endfor%}
        <input type="submit" id="options_submit_button" value="submit button for mobile" style="border-radius: 10px; color: white; background-color: black; border: 3px solid white;" class="visible-xs">
		</form>
    </div>


	</body>
  <script src="/static/options.js"></script>
</html>
